<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="shortcut icon" href="{% static "images/icon_page.png" %}" />
    <title>Login</title>
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>WebTech<span>IT</span></div>
    </div>
		<br>
		<div class="login">
			 <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
                 <table>
                     {{ form }}
                 </table>
                 <div class="panel-body">
                 Don't have an account? <a href="{% url 'home:register' %}"><font color="#ff4500">Click here</font>  </a> to register.
             </div>
                 <input type="submit" class="btn btn-theme" value='{{ title }}'>
                 <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
             </form>

		</div>

<!--Login-face -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1691790350834242';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!--end Login -->
</body>
</html>